section ul {
    list-style: none;
    padding-left: 1.25em;
}

section li::before {
	padding-right: 0.75em;
}

section#drink li::before {
	content: "🍺";
}

section#finish li::before {
	content: "🍻";
}

section#shot li::before {
	content: "🥃";
}