section ul {
    list-style: none;
    padding-left: 0.15em;
}

section li {
    text-indent: -2.5em;
    padding-left: 2.5em;
}

section li::before {
	padding-right: 0.75em;
    /* display: inline-block;
    width: 1.5em; */
}

section#drink li::before {
	content: "🍺\FE0F"; /* beer mug followed by VS-16 */
}

section#chug li::before {
    content: "😵\FE0F"; /* dizzy face followed by VS-16 */
}

section#finish li::before {
	content: "🍻\FE0F"; /* beer clinking followed by VS-16 */
}

section#shot li::before {
	content: "🥃\FE0F"; /* whiskey tumbler followed by VS-16 */
}