section ul {
    list-style: none;
    padding-left: 0.15em;
}

section li {
    text-indent: -2.5em;
    padding-left: 2.5em;
}

section li::before {
	padding-right: 0.75em;
}

section#drink li::before {
	content: "🍺";
}

section#finish li::before {
	content: "🍻";
}

section#shot li::before {
	content: "🥃";
}